@model House_Rental_System.Models.Sold_Property

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}

<head>

    <link href="~/assets/form/css/style.css" rel="stylesheet" />
    <link href="~/assets/form/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />
</head>
<div class="wrapper">
    <div class="inner">
        @using (Html.BeginForm("Confirmation", "Seller", FormMethod.Post, new { cid = ViewBag.cid, pid = ViewBag.pid }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h3 style="color: blue; font-family: serif; text-transform: capitalize; ">Confirmation</h3>
            <div class="form-group">
                <div class="form-wrapper">
                    <label for="">Deposit Amount</label>
                    <div class="form-holder">
                        <i class="fa fa-rupee"></i>
                        @Html.EditorFor(model => model.Deposit_Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Deposit_Amount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-wrapper">
                    <label for="">Rent Amount</label>
                    <div class="form-holder">
                        <i class="fa fa-rupee"></i>
                        @Html.EditorFor(model => model.Rental_Amount, new { htmlAttributes = new { @class = "form-control text-capitalize" } })
                        @Html.ValidationMessageFor(model => model.Rental_Amount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <center>
                <button class="btn " type="submit" style="background-color: rgb(0 122 204); color: white">  Confirm</button>
            </center>
        }
    </div>
</div>