@model House_Rental_System.Models.Customer_Details

@{
    ViewBag.Title = "Registration";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="shortcut icon" href="~/assets/images/fav.jpg">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />

    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <style>
        .box-de {
            background-color: #007ACC;
        }

        .btn {
            background-color: #007ACC;
        }
    </style>
</head>

@if (@ViewBag.Message != null)
{
    @section Scripts{
        <script>
            $(function () {
                alert("@ViewBag.Message")
            });
        </script>
    }

}

<div class="container-fluid ">
    <div class="container ">
        <div class="row ">

            <div class="col-sm-10 login-box">
                <div class="row">
                    <div class="col-lg-4 col-md-5 box-de">
                        <div class="small-logo">

                            <img src="~/assets/logo-removebg-preview.png" style="width:75px;height:75px;"/>
                        </div>
                        <br /><br />
                        <div class="ditk-inf sup-oi">
                            <h2 class="w-100">Already Have an Account </h2>
                            <p>Register with your personal information and get your lovely house at low price</p>
                            <a href="Login">
                                <button type="button" class="btn btn-outline-light">SIGN IN</button>
                            </a>
                        </div>
                    </div>
                  
                    <div class="col-lg-8 col-md-7 log-det">
                        @using (Html.BeginForm("Registration", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <h2>Create Account</h2>

                            <div class="text-box-cont">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="far fa-user "></i>
                                        </span>
                                    </div>
                                    @Html.EditorFor(model => model.Customer_Name, new { htmlAttributes = new { @class = "form-control text-capitalize", @placeholder = "Full Name" } })
                                    @Html.ValidationMessageFor(model => model.Customer_Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="far fa-envelope"></i>
                                        </span>
                                    </div>
                                    @Html.EditorFor(model => model.Customer_Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Customer_Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.Customer_Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "PhoneNo" } })
                                    @Html.ValidationMessageFor(model => model.Customer_Phone, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-city"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.Customer_State, new { htmlAttributes = new { @class = "form-control text-capitalize", @placeholder = "State" } })
                                    @Html.ValidationMessageFor(model => model.Customer_State, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-city"></i></span>
                                    </div>
                                    @Html.EditorFor(model => model.Customer_City, new { htmlAttributes = new { @class = "form-control text-capitalize", @placeholder = "City" } })
                                    @Html.ValidationMessageFor(model => model.Customer_City, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                                    </div>
                                    @Html.PasswordFor(model => model.Customer_Password, new {@class = "form-control", @placeholder = "Password" } )
                                    @Html.ValidationMessageFor(model => model.Customer_Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group mb-3">
                                    
                                    <input type="file" id="image" name="image" class="form-control";/>
                                    @Html.ValidationMessageFor(model => model.Customer_Profile, "", new { @class = "text-danger" })
                                </div>
                                <div class="input-group center sup mb-3">
                                    <button class="btn btn-success btn-round" type="submit">SIGN UP</button>
                                </div>
                            </div>


                        }
                        </div>
                            

                </div>
            </div>
        </div>
    </div>
</div>